
dist/
Docs/Figures/__pycache__/
.approval_tests_temp/
*/__pycache__/
*/PyPLUTO.egg-info/
PyPLUTO.egg-info/
pypluto.egg-info/
py_pluto.egg-info/
src/pyPLUTO/codes/__pycache__/
src/pyPLUTO/gui/__pycache__/
src/pyPLUTO/imagefuncs/__pycache__/
src/pyPLUTO/loadfuncs/__pycache__/
src/pyPLUTO/toolfuncs/__pycache__/
src/pyPLUTO/utils/__pycache__/
src/pyPLUTO/__pycache__/
Tests/__pycache__/
Tests/.approval_test_temp/
Tests/.mypy_cache/
Tests/.coverage
Utils/
.approval_test_temp/
.coverage
.idea/
.ipynb_checkpoints
.*_cache/
.venv/
.vscode/
.codex
Makefile